# Ignore compiled Ren'Py script files, except the ones in old-game
*.rpyc
!old-game/**

# Ignore temporary or backup files
*.rpyc~
*.rpymc
*.rpy~
*.bak

# Ignore log files
log.txt
traceback.txt
errors.txt

# Ignore save files
*.save
game/saves/persistent
game/saves/navigation.json
game/saves/sync/**

# Ignore IDE-specific files
.vscode/

# Ignore Photoshop files
*.psd

# Ignore project-specific files
project.json
game/script_version.txt

# Ignore cache files
cache/
game/cache/
game/cache/bytecode.rpyb
game/cache/pyanalysis.rpyb
game/cache/screens.rpyb
game/cache/bytecode-39.rpyb
game/cache/py3analysis.rpyb
